<% if @current_user.role == "Manager" %>
  <h1 class="MenuPage-title">List Of Menus</h1>
  <section class="AddMenu">
    <%= form_with url: menus_path, class: "AddMenu" do |form| %>
      <%= form.text_field :name, class: "AddMenu-text", placeholder: "Any new Menu?" %>
      <%= form.submit "Add", class: "AddMenu-button" %>
    <% end %>
  </section>

  <ul>
    <li class="Menu-list">
      <% Menu.all.each do |menu| %>
        <label class="Menu-Container">
          <%= form_with(url: "/menus/#{menu.id}" , method: "PUT") do %>
            <input class="Menu-Checkbox"
              name="active_menu"
              type="checkbox" <%= menu.active_menu ? "checked" : "" %>
              onclick="this.form.submit()"
            >
          <% end %>

          <p class="Menu-name"> <%= menu.name %> </p>

          <%= form_with(url: "/menus/#{menu.id}" , method: "DELETE", class: "Menu-icon") do %>
            <input type="image" src="assets/delete-24px.svg" >
          <% end %>
        </label>
      <% end %>
    </li>
  </ul>

<% end %>
