<section class="Category-section">
  <p class="Category-title"> <%= category %> </p>

  <ul>
    <% menus.menuitems.all.each do |menuitem| %>
      <% if menuitem.category == category %>
        <li class="MenuItem-list">
          <section class="MenuItem-container">
            <p class="MenuItemList-text"> <%= menuitem.name %> - <%= menuitem.price %>Rs </p>

            <% if @current_user.role == "Manager" %>


              <%= link_to edit_menu_path(id: menuitem.id), class: "MenuItem-icon"  do %>
                <%= image_tag "edit-solid.svg"%>
              <% end %>

              <%= link_to "/menuitems/#{menuitem.id}", method: "DELETE", class: "MenuItem-icon" do %>
                <%= image_tag "delete-24px.svg" %>
              <% end %>
            <% end %>

            <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
              <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
            <% end %>
          </section>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
