<section class="Category-section">
  <p class="Category-title"> <%= category %> </p>
  <br><br>

  <ul>
    <% menus.menuitems.all.each do |menuitem| %>
      <% if menuitem.category == category %>
        <li class="MenuItem-list">
          <section class="MenuItem-container">
            <p class="MenuItemList-text">
              <span class="MenuItemList-name">
                <%= menuitem.name %>
              </span>
              <span class="MenuItemList-price">
                <%= menuitem.price %> Rs
                <a
                  data-toggle="tooltip"
                  class="btn"
                  animation=true
                  trigger= "click hover focus"
                  title="<%= menuitem.description %>"
                >
                  <%= image_tag "icons8-info-50.png", class: "info-img" %>
                </a>
                <script>
                  $('[data-toggle="tooltip"]').tooltip({
                    template: '<div class="tooltip tooltip-custom"><div class="title">Description</div><div> <%= image_tag "#{menuitem.imgurl}", class: "img1" %> </div><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                  })
                </script>
              </span>
            </p>

            <% if @current_user.role == "Manager" %>
              <%= link_to edit_menu_item_path(id: menuitem.id), method: "GET", class: "MenuItem-icon"  do %>
                <%= image_tag "icons8-edit-64.png", class: "icons8-icon" %>
              <% end %>

              <%= link_to "/menu_items/#{menuitem.id}", method: "DELETE", class: "MenuItem-icon" do %>
                <%= image_tag "icons8-trash-can-64.png", class: "icons8-icon" %>
              <% end %>
            <% end %>

            <% if @order %>
              <% if @orderitem.get(menuitem.id) %>
                <p class="CartqtyUpdate-button">
                  <%= link_to "-  ",
                    "/order_items/#{@orderitem.get(menuitem.id).id}?page=0&symbol=0",
                    method: :patch,
                    class: "CartUpdate-link"
                  %>
                  <%= @orderitem.get_qty(menuitem.id) %>
                  <%= link_to  "  +",
                    "/order_items/#{@orderitem.get(menuitem.id).id}?page=0&symbol=1",
                    method: :patch,
                    class: "CartUpdate-link"
                  %>
                </p>
              <% else %>
                <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
                  <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
                <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
              <% end %>
            <% end %>
          </section>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
