<section class="Category-section">
  <p class="Category-title"> <%= category %> </p>

  <ul>
    <% menus.menuitems.all.each do |menuitem| %>
      <% if menuitem.category == category %>
        <li class="MenuItem-list">
          <section class="MenuItem-container">
            <p class="MenuItemList-text"> <%= menuitem.name %> - <%= menuitem.price %>Rs </p>

            <% if @current_user.role == "Manager" %>
              <%= form_with(url: edit_menu_item_path(id: menuitem.id), method: "GET", class: "MenuItem-icon", local: true) do %>
                <input type="image" src="assets/edit-solid.svg" value='' >
              <% end %>

              <%= form_with(url: "/menu_items/#{menuitem.id}" , method: "DELETE", class: "MenuItem-icon") do %>
                <input type="image" src="assets/delete-24px.svg" value='' >
              <% end %>
            <% end %>

            <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
              <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
            <% end %>
          </section>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
