<section class="Category-section">
  <p class="Category-title"> <%= category %> </p>

  <ul>
    <% menus.menuitems.all.each do |menuitem| %>
      <% if menuitem.category == category %>
        <li class="MenuItem-list">
          <section class="MenuItem-container">
            <p class="MenuItemList-text">
              <span class="MenuItemList-name">
                <%= menuitem.name %>
              </span>
              <span class="MenuItemList-price">
                <%= menuitem.price %> Rs
                <a href="" data-toggle="tooltip" placement='top' title="<%= menuitem.description %>">
                  <%= image_tag "icons8-info-50.png", class: "info-img" %>
                </a>
              </span>
            </p>

            <% if @current_user.role == "Manager" %>
              <%= link_to edit_menu_item_path(id: menuitem.id), method: "GET", class: "MenuItem-icon"  do %>
                <%= image_tag "edit-solid.svg"%>
              <% end %>

              <%= link_to "/menu_items/#{menuitem.id}", method: "DELETE", class: "MenuItem-icon" do %>
                <%= image_tag "delete-24px.svg" %>
              <% end %>
            <% end %>

            <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
              <select name="qty" class="AddToCart-qty" placeholder="Qty" required="required">
                <option value="">Qty</option>
                <% i=1 %>
                <% while i<10 %>
                  <option value = <%= i %> > <%= i %> </option>
                  <% i=i+1 %>
                  <% end %>
              </select>
              <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
            <% end %>
          </section>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
