<% menu = Menu.active %>
<h3 class=MenuItemPage-title> <%= menu.name %> </h3>

<% if @current_user.role == "Manager" %>
 <section class="MenuItem-section">
    <section class="AddMenuItem">
      <%= form_with url: menu_items_path, method: "POST" do |form| %>
        <%= form.text_field :name, class: "AddMenuItem-text", placeholder: "Any new MenuItem?" %>
        <%= form.text_field :description, class: "AddMenuItem-text", placeholder: "Description" %>
        <%= form.number_field :price, class: "AddMenuItem-price", placeholder: 0.0 %>
        <select name="category" class="AddMenuItem-text" placeholder="Category">
          <option value="">Select Category</option>
          <% @categories.each do |category| %>
            <option value = <%= category %> > <%= category %> </option>
          <% end %>
        </select>
        <%= form.submit "Add", class: "AddMenuItem-button" %>
      <% end %>
    </section>
  </section>

  <h2 class="WalkIn-title">Walk-In Customer</h2>
<% end %>

<%= render partial: "menulist", locals: {category: "Starters", menus: menu} %>
<%= render partial: "menulist", locals: {category: "Side Dishes", menus: menu} %>
<%= render partial: "menulist", locals: {category: "Main Course", menus: menu} %>
<%= render partial: "menulist", locals: {category: "Desserts", menus: menu} %>

<!--<% @categories.each do |category| %>
  <%= render partial: "menulist", locals: {category: category, menus: menu} %>
<% end %>-->
