<% if @current_user.role == "Manager" %>
  <section class="MenuItem-section">
    <section class="AddMenuItem">
      <%= form_with url: menu_items_path, method: "POST" do |form| %>
        <%= form.text_field :name, class: "AddMenuItem-text", placeholder: "Any new MenuItem?" %>
        <%= form.text_field :description, class: "AddMenuItem-text", placeholder: "Description" %>
        <%= form.number_field :price, class: "AddMenuItem-price", placeholder: 0.0 %>
        <%= form.text_field :category, class: "AddMenuItem-text", placeholder: "Which category?" %>
        <%= form.submit "Add", class: "AddMenuItem-button" %>
      <% end %>
    </section>
  </section>

  <% Menu.all.each do |menu| %>
    <section class="MenuItem-section">
      <h3 class=MenuItemPage-title> <%= menu.name %> </h3>
    </section>
    <section class="MenuItem-section">
      <ul>
        <% menu.menuitems.each do |menuitem| %>
          <li class="MenuItem-list">
            <p class="Menu-list"> <%= menuitem.name %> - <%= menuitem.price %>Rs </p>

          </li>
        <% end %>
      </ul>
    </section>
    <% end %>




<% elsif @current_user.role == "User" %>
  <% menu = Menu.active %>
  <section class="MenuItem-section">
    <h3 class=MenuItemPage-title> <%= menu.name %> </h3>
  </section>
  <section class="MenuItem-section">
    <ul>
      <% menu.menuitems.all.each do |menuitem| %>
        <li class="MenuItem-list">
          <h4 class="MenuItem-category"> <%= menuitem.category %> </h4>
          <section class="MenuItem-section">
            <p class="Menu-list"> <%= menuitem.name %> - <%= menuitem.price %>Rs </p>
            <%= form_with url: order_items_path(menu_item_id: menuitem.id), method: "POST" do |form| %>
              <%= form.submit "Add To Cart", class: "AddItemCart-button" %>
            <% end %>
          </section>
        </li>
      <% end %>
    </ul>
  </section>



<% else %>

  <% Menu.all.each do |menu| %>
    <% if menu.active_menu %>
      <section class="MenuItem-section">
        <h3 class=MenuItemPage-title> <%= menu.name %> </h3>
      </section>
      <section class="MenuItem-section">
        <ul>
          <% menu.menuitems.all.each do |menuitem| %>
            <li class="MenuItem-list">
              <p class="Menu-list"> <%= menuitem.name %> - <%= menuitem.price %>Rs </p>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
  <% end %>


<% end %>
