<% if @current_user.role == "Manager" %>
  <% menu = Menu.active %>
  <h3 class=MenuItemPage-title> <%= menu.name %> </h3>

  <section class="MenuItem-section">
    <section class="AddMenuItem">
      <%= form_with url: menu_items_path, method: "POST" do |form| %>
        <%= form.text_field :name, class: "AddMenuItem-text", placeholder: "Any new MenuItem?" %>
        <%= form.text_field :description, class: "AddMenuItem-text", placeholder: "Description" %>
        <%= form.number_field :price, class: "AddMenuItem-price", placeholder: 0.0 %>
        <%= form.text_field :category, class: "AddMenuItem-text", placeholder: "Which category?" %>
        <!--<%= form.select_tag :category, class: "AddMenuItem-text", options_for_select(@categories) %> -->
        <%= form.submit "Add", class: "AddMenuItem-button" %>
      <% end %>
    </section>
  </section>


  <%= render partial: "menulist", locals: {category: "Starters", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Side Dishes", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Main Course", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Desserts", menus: menu} %>





<% elsif @current_user.role == "User" %>
  <% menu = Menu.active %>
  <h3 class=MenuItemPage-title> <%= menu.name %> </h3>

  <%= render partial: "menulist", locals: {category: "Starters", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Side Dishes", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Main Course", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Desserts", menus: menu} %>



 <% else %>
  <% menu = Menu.active %>
  <h3 class=MenuItemPage-title> <%= menu.name %> </h3>

  <%= render partial: "menulist", locals: {category: "Starters", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Side Dishes", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Main Course", menus: menu} %>
  <%= render partial: "menulist", locals: {category: "Desserts", menus: menu} %>
<% end %>
