  <h1 class="UserList-title">User's List<h1>

  <h3 class="UserList-type">Billing-Clerks</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "Billing-Clerk" %>
          <p class="UserList-content">
            <%= user.first_name %> <%= user.last_name %>
            <%= link_to "Remove from Billing-Clerk", "/users/#{user.id}", method: "PUT" %>
          </p>
        <% end %>
      <% end %>
    </li>
  </ul>


  <h3 class="UserList-type">Customers</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "User" %>
          <p class="UserList-content">
            <%= user.first_name %> <%= user.last_name %>
            <%= link_to "Add as Billing-Clerk", "/users/#{user.id}", method: "PUT" %>
          <p>
        <% end %>
      <% end %>
    </li>
  </ul>
