<h1 class="UserList-title">User's List<h1>
<section class="UserList-section">
  <h3 class="UserList-type">Billing-Clerks</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "Billing-Clerk" %>
          <p class="UserList-content">
            <span class="User-name">
              <%= user.first_name.titlecase %> <%= user.last_name.titlecase %>
            </span>
            <span class="User-id">Id: <%= user.id %> </span>
            <span>
              <%= link_to "Remove from Billing-Clerk", "/users/#{user.id}?page=0", method: "PATCH", class: "User-link" %>
            </span>
          </p>
        <% end %>
      <% end %>
    </li>
  </ul>
 </section>

<section class="UserList-section">
  <h3 class="UserList-type">Customers</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "User" %>
          <p class="UserList-content">
            <span class="User-name"> <%= user.first_name.titlecase %> <%= user.last_name.titlecase %> </span>
            <span class="User-id"> Id: <%= user.id %> </span>
            <span>
              <%= link_to "Add as Billing-Clerk", "/users/#{user.id}?page=0", method: "PATCH", class: "User-link" %>
            </span>
          <p>
        <% end %>
      <% end %>
    </li>
  </ul>
</section>
