  <h1 class="UserList-title">User's List<h1>

  <h3 class="UserList-type">Billing-Clerks</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "Billing-Clerk" %>
          <p class="UserList-content">
            <%= user.first_name %> <%= user.last_name %>
          </p>
        <% end %>
      <% end %>
    </li>
  </ul>


  <h3 class="UserList-type">Customers</h3>
  <ul>
    <li>
      <% User.all.each do |user| %>
        <% if user.role == "User" %>
          <p class="UserList-content">
            <%= user.first_name %> <%= user.last_name %>
            <a href="javascript:void(0)" class="Userlist-button">
              <%= form_with(url: "/users/#{user.id}" , method: "PUT" ) do %>
                <input type="image" src="delete-24px.svg">
              <% end %>
            </a>
          <p>
        <% end %>
      <% end %>
    </li>
  </ul>
