<body class="classbody">
<main class="Usersnew">
  <p class="NewUsers-title">Welcome new User!</p>
  <section class="SignUp-box">
    <div class="Signin-link">
      Already have an account?
      <%= link_to "Login here", new_sessions_path %>
    </div>
    <%= form_with url: users_path do |form| %>
      <div class="Form-section">
        <%= form.text_field :first_name,
          class: "Form-input",
          placeholder: "First Name",
          autofocus: "autofocus"
        %>
      </div>
      <div class="Form-section">
        <%= form.text_field :last_name, class: "Form-input", placeholder: "Last Name" %>
      </div>
      <div class="Form-section">
        <%= form.email_field :email, class: "Form-input", placeholder: "Email" %>
      </div>
      <div class="Form-section">
        <%= form.password_field :password, class: "Form-input", placeholder: "Password"  %>
      </div>
      <div class="Form-section">
        <%= form.submit "Sign-Up!", class: "Form-submit" %>
      </div>
    <% end %>
  </section>
</main>
</body>
