<% if @current_user.role == "Manager" %>
  <% if report_form %>
    <section class="Reports">
      <%= form_with url: reports_path, method: :get, local: true do |form| %>
        <%= form.text_field :id, class: "Reports-text", placeholder: "User Id" %>
        <label class="Reports-label">
          From:
          <%= form.date_field :from, class: "Reports-date" %>
        </label>
        <label class="Reports-label">
          To:
          <%= form.date_field :to, class: "Reports-date" %>
        </label>
        <%= form.submit "Search", class: "Reports-button" %>
      <% end %>
    </section>
  <% end %>
<% end %>

<% orders.each do |order| %>
  <% if order.user %>
    <section class="OrderItem-section">
      <p class="OrderId-text"> Order Id: <%= order.id %> </p>

      <p class="Ordered-by">
        <% if order.user.role == "User" %>
          <%= order.user.first_name %> <%= order.user.last_name %>
        <% else %>
          Walk-In Customer
        <% end %>
      </p>

      <section class="OrderItem-content">
        <ul>
          <% order.orderitems.each do |orderitem| %>
            <% if orderitem.qty > 0 %>
              <li class="Order-text">
                <span> <%= orderitem.menu_item_name %> x <%= orderitem.qty %> </span>
                <p class="total-price">
                  <%= orderitem.menu_item_price*orderitem.qty %> Rs.
                </p>
              </li>
            <% end %>
          <% end %>
        </ul>
      </section>

      <p class="Total-price">Total: <%= order.totalprice %> Rs. </p>

      <section class="Placeorder">
        <% if pending_button %>
          <%= form_with url: "/orders/#{order.id}", method: :patch do |form| %>
            <%= form.submit "Deliver", class: "PlaceOrder-button" %>
          <% end %>
        <% end %>

        <% if report_form %>
          <%= form_with url: invoice_path, method: :get do |form| %>
            <%= form.submit "Invoice", class: "PlaceOrder-button" %>
          <% end %>
        <% end %>
      </section>

      <p class="Order-status"> <%= order.status_tostring %> </p>
    </section>
 <% end %>
<% end %>
