<h1 class="Order-title">Invoice details</h1>

<% if @order.user %>
  <p class="OrderId-text"> Order Id: <%= @order.id %> </p>
  <p class="Ordered-at"> Ordered date: <%= @order.date %> </p>
  <p class="OrderId-text"> Billing To: </p>
  <p class="OrderId-text"> <%= @order.user.first_name %> <%= @order.user.last_name %> </p>
  <% if @order.delivered_at %>
    <p class="Ordered-at">
      Delivered date: <%= @order.delivered_at.strftime("%-d %b,%Y") %> at <% @order.delivered_at.strftime("%I:%M %P") %>
    </p>
  <% end %>

  <section class="Cart-section">
    <p class="Cart-heading">
      <span>Item Name</span>
      <span class="Cart-price">
        <p class="qty-price">Price</p>
      </span>
    </p>
    <ul>
      <% @order.orderitems.all.each do |orderitem| %>
        <% if orderitem.qty > 0 %>
          <li class="Cart-content">
            <span> <%= orderitem.menu_item_name %> </span>
            <span class="Cart-price">
              <p class="qty-price">
                <%= orderitem.qty %>
              </p>
            </span>
            <span class="Cart-price">
              <p class="qty-price">
                <%= orderitem.menu_item_price*orderitem.qty %> Rs.
              </p>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>

    <p class="Total-price">Total: <%= @order.totalprice %> Rs. </p>
  </section>
<% end %>
