<h1 class="Order-title">Invoice details</h1>

<% if @order.user %>
  <section class="InvoiceSection">
    <section class="InvoiceSection-text">
      <p> Order Id: <%= @order.id %> </p>
      <% if @order.delivered_at %>
        <p class="Right-text">
          Delivered date: <%= @order.delivered_at.strftime("%-d %b,%Y") %> at <%= @order.delivered_at.strftime("%I:%M %P") %>
        </p>
      <% end %>
    </section>
    <br>
    <section class="InvoiceSection-text">
      <p> Ordered date: <%= @order.date %> </p>
    </section>
    <br>
    <section class="InvoiceSection-text">
      <p> Billing To: </p>
    </section>
    <br>
    <section class="InvoiceSection-text">
      <p> <%= @order.user.first_name %> <%= @order.user.last_name %> </p>
    </section>

  <section class="Cart-section">
    <p class="Cart-heading">
      <span class="Invoice-item">Item Name</span>
      <span class="Cart-price">Qty</span>
      <span class="Cart-price">Cost</span>
      <span class="Cart-price">Total Cost</span>
    </p>
    <ul>
      <% @order.orderitems.all.each do |orderitem| %>
        <% if orderitem.qty > 0 %>
          <li class="Cart-content">
            <span class="Invoice-item"> <%= orderitem.menu_item_name %> </span>
            <span class="Cart-price">
              <p>
                <%= orderitem.qty %>
              </p>
            </span>
            <span class="Cart-price">
              <p>
                <%= orderitem.menu_item_price %> Rs.
              </p>
            </span>
            <span class="Cart-price">
              <p>
                <%= orderitem.menu_item_price*orderitem.qty %> Rs.
              </p>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>

    <p class="Total-price">Total: <%= @order.totalprice %> Rs. </p>
  </section>
<% end %>
