<h1 class="Cart-title">My Cart</h1>

<% if @current_user.role == "User" %>
  <% order = @current_user.orders.being_created %>
  <% if order == nil %>
    <h6 class="Emptycart-text">Cart is empty!</h6>
  <% else %>
    <ul>
      <li>
        <% Orderitem.all.each do |orderitem| %>
          <% if orderitem.order_id == order.id %>
            <p class="Cart-content">
              <%= orderitem.menu_item_name %> <%= orderitem.menu_item_price %>
              <%= link_to "Remove",
                "/order_items/#{orderitem.id}",
                method: "DELETE",
                class: "CartRemove-link"
              %>
            </p>
          <% end %>
        <% end %>
      </li>
    </ul>
    <section class="Place-order">
      <%= form_with url: "/orders/#{order.id}", method: "PATCH" do |form| %>
        <%= form.submit "Place Order", class: "PlaceOrder-button" %>
      <% end %>
    </section>
  <% end %>


<% end %>
